[Unit]
Description=@@USERERP@@-server
After=postgresql.service

[Service]
Type=simple
User=@@USERERP@@
Group=@@USERERP@@
#Environment="LD_PRELOAD=/usr/local/lib/faketime/libfaketime.so.1" "FAKETIME_TIMESTAMP_FILE=/home/@@USERERP@@/faketime"
ExecStart= /home/@@USERERP@@/unifield-venv/bin/python unifield-server/bin/openerp-server.py -c etc/openerprc
Restart=always
WorkingDirectory=/home/@@USERERP@@
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target

