[Server]
url: localhost
port: @@XMLRPCPORT@@

[DB]
db_prefix: @@DBNAME@@_
instance_prefix: @@DBNAME@@_
project_level: 2
username: admin
password: admin
# If tempo_mkdb is True, it means you use mkdb from OpenERP to create DB. If not, you use tempo's one.
tempo_mkdb: 1
# RW give the SUFFIX of Remote Warehouse database. DO NOT USE PREFIX
RW: 
