.comment {
   font-size: 10px;
   padding-left: 20px;
}
.detected-uf {
    color: red;
}
.detected-uf a {
    color: red;
}
.tooltip{ position: absolute; top: 0; left: 0; z-index: 3; display: none; 
-moz-border-radius:5px 5px 5px 5px;
background-color:#F7F7F7;
border-color:#6699CC;
border-style:solid;
border-width:1px 1px 1px 5px;
margin:0px 0 10px 15px;
padding: 0 5px 5px 5px;
color: black;
max-width: 400px;
}
.tooltip hr {
   color: #6699CC;
}
.tooltip h1 {
  font-size: 10px;
  color: black;
}
.lastmod {
  font-size: 9px;
  text-align:  right;
  color: black;
}
.devinfo {
    font-size: 8px;
}
.last_comment {
   width: 400px;
}
