.comment {
   font-size: 10px;
   padding-left: 20px;
}
.detected-uf {
    color: red;
}
.detected-uf a {
    color: red;
}
.tooltip{ 
position: absolute;
z-index: 3;
display: none;
-moz-border-radius:5px 5px 5px 5px;
background-color:#F7F7F7;
border-color:#6699CC;
border-style:solid;
border-width:1px 1px 1px 5px;
margin:0px 0 10px 15px;
padding: 0 5px 5px 5px;
color: black;
max-width: 400px;
font-size: 10px;
}
.tooltip hr {
   color: #6699CC;
}
.tooltip h1 {
  font-size: 10px;
  color: black;
}
.lastmod {
  font-size: 9px;
  text-align:  right;
  color: black;
}
.devinfo {
    font-size: 8px;
}
.last_comment {
   width: 400px;
}
.tooltip2{ 
position: absolute;
z-index: 3;
display: none;
-moz-border-radius:5px 5px 5px 5px;
background-color:#FFFFA3;
border-color:#FFEF93;
border-style:solid;
border-width:1px 1px 1px 5px;
margin:0px 0 10px 15px;
padding: 0 5px 5px 5px;
color: black;
font-size: 10px;
max-width: 400px;
}
.result-error {
    border: 5px solid red;
    font-size: 10px;
}
.result-ok {
    border: 5px solid green;
    font-size: 10px;
}
